In [2]:
import numpy as np
import pandas as pd

!pip install xgboost
import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

!pip install shap
import matplotlib.pyplot as plt

Requirement already satisfied: xgboost in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (1.5.0)
Requirement already satisfied: numpy in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: shap in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (0.40.0)
Requirement already satisfied: pandas in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (1.2.4)
Requirement already satisfied: tqdm>4.25.0 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (4.59.0)
Requirement already satisfied: packaging>20.9 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (21.3)
Requirement already satisfied: scipy in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (1.6.2)
Requirement already satisfied: numba in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (0.53.1)
Requirement already satisfied: cloudpickle in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (1.6.0)
Requirement already satisfied: slicer==0.0.7 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (0.0.7)
Requirement already satisfied: scikit-learn in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (0.24.1)
Requirement already satisfied: numpy in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from shap) (1.20.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from packaging>20.9->shap) (2.4.7)
Requirement already satisfied: setuptools in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from numba->shap) (52.0.0.post20210125)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from numba->shap) (0.36.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from pandas->shap) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Requirement already satisfied: joblib>=0.11 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from scikit-learn->shap) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lakshmi\anaconda3\envs\dev\lib\site-packages (from scikit-learn->shap) (2.1.0)

In [13]:
fTest = pd.read_csv('Resources/test.csv')
fTest.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [14]:
dfTrain=pd.read_csv('Resources/train.csv')
dfTrain.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [15]:
var_columns=[c for c in dfTrain.columns if c not in ['ID_code', 'target']]
X = dfTrain.loc[:, var_columns]
y=dfTrain.loc[:, 'target']
X_train, X_valid, y_train, y_valid = train_test_split (X,y, test_size=.2)
X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((160000, 200), (40000, 200), (160000,), (40000,))

In [6]:
xgb.XGBClassifier().get_params()

{'objective': 'binary:logistic',
 'use_label_encoder': True,
 'base_score': None,
 'booster': None,
 'colsample_bylevel': None,
 'colsample_bynode': None,
 'colsample_bytree': None,
 'enable_categorical': False,
 'gamma': None,
 'gpu_id': None,
 'importance_type': None,
 'interaction_constraints': None,
 'learning_rate': None,
 'max_delta_step': None,
 'max_depth': None,
 'min_child_weight': None,
 'missing': nan,
 'monotone_constraints': None,
 'n_estimators': 100,
 'n_jobs': None,
 'num_parallel_tree': None,
 'predictor': None,
 'random_state': None,
 'reg_alpha': None,
 'reg_lambda': None,
 'scale_pos_weight': None,
 'subsample': None,
 'tree_method': None,
 'validate_parameters': None,
 'verbosity': None}

In [18]:
model_xgboost = xgb.XGBClassifier(learning_rate=.01,
                                     max_depth=5,
                                     n_estimators=5000,
                                     subsample=.5,
                                     colsample_bytree=.5,
                                     eval_metric='auc',
                                     verbosity=1)

eval_set =[(X_valid, y_valid)]

model_xgboost.fit(X_train,
                 y_train,
                 early_stopping_rounds=10,
                 eval_set=eval_set,
                 verbose=True)

C:\Users\Lakshmi\anaconda3\envs\dev\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[0]	validation_0-auc:0.60293
[1]	validation_0-auc:0.64847
[2]	validation_0-auc:0.67291
[3]	validation_0-auc:0.69109
[4]	validation_0-auc:0.70741
[5]	validation_0-auc:0.71281
[6]	validation_0-auc:0.71549
[7]	validation_0-auc:0.71447
[8]	validation_0-auc:0.71827
[9]	validation_0-auc:0.72201
[10]	validation_0-auc:0.72279
[11]	validation_0-auc:0.72278
[12]	validation_0-auc:0.72662
[13]	validation_0-auc:0.72879
[14]	validation_0-auc:0.73067
[15]	validation_0-auc:0.73031
[16]	validation_0-auc:0.73428
[17]	validation_0-auc:0.73564
[18]	validation_0-auc:0.73601
[19]	validation_0-auc:0.73858
[20]	validation_0-auc:0.73870
[21]	validation_0-auc:0.73923
[22]	validation_0-auc:0.73903
[23]	validation_0-auc:0.74015
[24]	validation_0-auc:0.74134
[25]	validation_0-auc:0.74142
[26]	validation_0-auc:0.74129
[27]	validation_0-auc:0.74061
[28]	validation_0-auc:0.74237
[29]	validation_0-auc:0.74437
[30]	validation_0-auc:0.74457
[31]	validation_0-auc:0.74593
[32]	validation_0-auc:0.74615
[33]	validation_0-auc:0.74569
[34]	validation_0-auc:0.74630
[35]	validation_0-auc:0.74724
[36]	validation_0-auc:0.74743
[37]	validation_0-auc:0.74787
[38]	validation_0-auc:0.74750
[39]	validation_0-auc:0.74936
[40]	validation_0-auc:0.74979
[41]	validation_0-auc:0.74950
[42]	validation_0-auc:0.75041
[43]	validation_0-auc:0.74997
[44]	validation_0-auc:0.74977
[45]	validation_0-auc:0.75094
[46]	validation_0-auc:0.75026
[47]	validation_0-auc:0.74981
[48]	validation_0-auc:0.75019
[49]	validation_0-auc:0.74909
[50]	validation_0-auc:0.75031
[51]	validation_0-auc:0.74955
[52]	validation_0-auc:0.74955
[53]	validation_0-auc:0.74890
[54]	validation_0-auc:0.75030
[55]	validation_0-auc:0.75052

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5,
              enable_categorical=False, eval_metric='auc', gamma=0, gpu_id=-1,
              importance_type=None, interaction_constraints='',
              learning_rate=0.01, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=5000, n_jobs=4, num_parallel_tree=1,
              predictor='auto', random_state=0, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1, subsample=0.5, tree_method='exact',
              validate_parameters=1, verbosity=1)

# Evaluate Model Performance

In [20]:
y_train_pred = model_xgboost.predict_proba(X_train)[:,1]
y_valid_pred = model_xgboost.predict_proba(X_valid)[:,1]

print("AUC Train: {:.4f}\nAUC Valid {:.4f}".format(roc_auc_score(y_train, y_train_pred), roc_auc_score(y_valid,y_valid_pred)))

AUC Train: 0.7691
AUC Valid 0.7509

# Hyperparameter Tuning